{% include "head.html" %}


<!-- Titlebar
================================================== -->
<section class="titlebar">
<div class="container">
	<div class="sixteen columns">
		<h2>My Account</h2>
		
		<nav id="breadcrumbs">
			<ul>
				<li><a href="#">Home</a></li>
				<li>My Account</li>
			</ul>
		</nav>
	</div>
</div>
</section>


<!-- Content
================================================== -->

<!-- Container -->
<div class="container">

	<div class="six columns centered">

		<div class="tabs-container">
			<!-- Login -->
			<div class="tab-content" id="tab1">

				<h3 class="headline">Login</h3><span class="line" style="margin-bottom:20px;"></span><div class="clearfix"></div>

				<form method="post" action="{% url 'polls:home' %}">{% csrf_token %}
					
					
						<table>
							<tr>
								<td>{{ form.username.label_tag }}</td>
								<td>{{ form.username }}</td>
							</tr>
							<tr>
								<td>{{ form.password.label_tag }}</td>
								<td>{{ form.password }}</td>
							</tr>
						</table>

					<p class="form-row form-row-wide">
						<label for="username">Username or Email Address: <span class="required">*</span></label>
						<input type="text" class="input-text" name="username" id="username" value="{{ username.username }}" autofocus/>
					</p>

					<p class="form-row form-row-wide">
						<label for="password">Password: <span class="required">*</span></label>
						<input class="input-text" type="password" name="password" id="password" />
					</p>

					<p class="form-row">
						<input type="submit" class="button" name="login" value="Login" />
						<input type="hidden" name="next" value="{{ next }}">
					</p>

					
				</form>
			</div>
		</div>
	</div>
</div>

<div class="margin-top-50"></div>


{% include "foot.html" %}