{% include "head.html" %}
{% load staticfiles %}
<!-- Titlebar
================================================== -->
<section class="titlebar">
<div class="container">
	<div class="sixteen columns">
		<h2>About Us</h2>
		
		<nav id="breadcrumbs">
			<ul>
				<li><a href="{% url 'polls:home' %}">Home</a></li>
				<li>About Us</li>
			</ul>
		</nav>
	</div>
</div>
</section>


<!-- Content
================================================== -->

<!-- Container -->
<div class="container">

	<div class="sixteen columns">	
		<h3 class="headline">Our History</h3><span class="line margin-bottom-30"></span><div class="clearfix"></div>
	</div>

	<!-- Who We Are? -->
	<div class="eight columns">
		<p>We are a cat shop. We're all about your cat-purchasing needs. Based out of northern
		Kentucky, we find quality breeds and  sell them to people like you.</p>
		<p>Here to the right you can see some of our most commonly sold products.</p>

	</div>

	<!-- Our Skills -->
	<div class="eight columns">

		<div id="skillzz">

			<div class="skill-bar">
				<span class="skill-title">Calico <i>90%</i></span>
				<div class="skill-bar-value" style="width: 90%;"></div>
			</div>
	
			<div class="skill-bar">
				<span class="skill-title">Brown <i>80%</i></span>
				<div class="skill-bar-value" style="width: 80%;"></div>
			</div>


			<div class="skill-bar">
				<span class="skill-title">White <i>70%</i></span>
				<div class="skill-bar-value" style="width: 70%;"></div>
			</div>

		</div>

	</div>

</div>
<!-- Container / End -->

<div class="margin-top-50"></div>

{% include "foot.html" %}