{% load staticfiles %}
<!-- Footer
================================================== -->
<div id="footer">

	
	<!-- Container / End -->

</div>

<div id="footer-bottom">

	<!-- Container -->
	<div class="container">

		<div class="eight columns">© Copyright 2015 by <a href="#">Cats</a>. All Rights Reserved.</div>
		<div class="eight columns">
			<ul class="payment-icons">
				
				<li><img src="{% static 'polls/images/visa.png' %}" alt="" /></li>
				<li><img src="{% static 'polls/images/mastercard.png' %}" alt="" /></li>
				<li><img src="{% static 'polls/images/skrill.png' %}" alt="" /></li>
				<li><img src="{% static 'polls/images/moneybookers.png' %}" alt="" /></li>
				<li><img src="{% static 'polls/images/paypal.png' %}" alt="" /></li>
			</ul>
		</div>

	</div>
	<!-- Container / End -->

</div>
<!-- Footer Bottom / End -->

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>

</div>


<!-- Java Script
================================================== -->

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="{% static 'polls/scripts/jquery.jpanelmenu.js' %}"></script>
<script src="{% static 'polls/scripts/jquery.themepunch.plugins.min.js' %}"></script>
<script src="{% static 'polls/scripts/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'polls/scripts/jquery.themepunch.showbizpro.min.js' %}"></script>
<script src="{% static 'polls/scripts/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'polls/scripts/hoverIntent.js' %}"></script>
<script src="{% static 'polls/scripts/superfish.js' %}"></script>
<script src="{% static 'polls/scripts/jquery.pureparallax.js' %}"></script>
<script src="{% static 'polls/scripts/jquery.pricefilter.js' %}"></script>
<script src="{% static 'polls/scripts/jquery.selectric.min.js' %}"></script>
<script src="{% static 'polls/scripts/jquery.royalslider.min.js' %}"></script>
<script src="{% static 'polls/scripts/SelectBox.js' %}"></script>
<script src="{% static 'polls/scripts/modernizr.custom.js' %}"></script>
<script src="{% static 'polls/scripts/waypoints.min.js' %}"></script>
<script src="{% static 'polls/scripts/jquery.flexslider-min.js' %}"></script>
<script src="{% static 'polls/scripts/jquery.counterup.min.js' %}"></script>
<script src="{% static 'polls/scripts/jquery.tooltips.min.js' %}"></script>
<script src="{% static 'polls/scripts/jquery.isotope.min.js' %}"></script>
<script src="{% static 'polls/scripts/puregrid.js' %}"></script>
<script src="{% static 'polls/scripts/stacktable.js' %}"></script>
<script src="{% static 'polls/scripts/custom.js' %}"></script>

</body>
</html>