{% include "head.html" %}
{% load staticfiles %}
<!-- Slider
================================================== -->
<div class="container fullwidth-element home-slider">

	<div class="tp-banner-container">
		<div class="tp-banner">
			<ul>
				<!-- Slide 1  -->
				<li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
					<img src="{% static 'polls/images/cats/slider1.jpg' %}"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
 					<div class="caption sfb fadeout" data-x="145" data-y="170" data-speed="400" data-start="800"  data-easing="Power4.easeOut">
						<h2></h2>
						<h3></h3>
						<!-- <a href="shop-with-sidebar.html" class="caption-btn">Shop The Collection</a> -->
					</div>
				</li>

				<!-- Slide 2  -->
				<li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000">
 					<img src="{% static 'polls/images/cats/slider2.jpg' %}"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
 					<div class="caption dark sfb fadeout" data-x="750" data-y="170" data-speed="400" data-start="800"  data-easing="Power4.easeOut">
						<h2></h2>
						<h3></h3>
						<!-- <a href="shop-with-sidebar.html" class="caption-btn">Shop The Collection</a> -->
					</div>
				</li>

				<!-- Slide 3  -->
				<li data-transition="fadetotopfadefrombottom" data-slotamount="7" data-masterspeed="1000">
 					<img src="{% static 'polls/images/cats/slider3.jpg' %}"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
 					<div class="caption dark sfb fadeout" data-x="850" data-y="170" data-speed="400" data-start="800"  data-easing="Power4.easeOut">
						<h2></h2>
						<h3></h3>
						<!-- <a href="shop-with-sidebar.html" class="caption-btn">Shop The Collection</a> -->
					</div>
				</li>

			</ul>
		</div>
	</div>
</div>


<!-- Featured
================================================== -->
<div class="container" >

	<div class="one-third column">
		<a href="{% url 'polls:details' %}/5" class="img-caption" >
			<figure>
				<img src="{% static 'polls/images/cats/brown1.jpg' %}" alt="" />
				<figcaption>
					<h3>Black Cats</h3>
					<span></span>
				</figcaption>
			</figure>
		</a>
	</div>

	<div class="one-third column">
		<a href="{% url 'polls:details' %}/4" class="img-caption" >
			<figure>
				<img src="{% static 'polls/images/cats/white1.jpg' %}" alt="" />
				<figcaption>
					<h3>White Cats</h3>
					<span></span>
				</figcaption>
			</figure>
		</a>
	</div>

	<div class="one-third column">
		<a href="{% url 'polls:details' %}/7" class="img-caption" >
			<figure>
				<img src="{% static 'polls/images/cats/spotted1.jpg' %}" alt="" />
				<figcaption>
					<h3>Spotted Cats</h3>
					<span></span>
				</figcaption>
			</figure>
		</a>
	</div>

</div>
<div class="clearfix"></div>


<div class="margin-top-50"></div>

{% include "foot.html" %}